.header{
    background-color: black;
    color: white;
    padding: 0px 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 10px;
    top: 0px; 
    left: 0px; 
    right: 0px;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    background-color: #f0f0f0;
}

.logos {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}

.logo2{
    width: 20px;
    height: auto;
    padding: 12px 20px;

}

.nav1 {
    display: flex;
    gap: 20px;
    color: white;
    align-items: center;

}

.nav1 a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-decoration: none;
    padding: 15px 20px;
}

.nav1 a:hover {
    background-color: rgba(241, 146, 37, 0.93);
    border-radius: 5px;
    text-decoration: underline;
}

.nav2 {
    display: flex;
    gap: 20px;
    color: white;
    align-items: center;
}

.nav2 a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-decoration: none;
    padding:10px 10px;
    left: -20px;
    
}

.nav2 a:hover {
    border-radius: 5px;
    text-decoration: underline;
}

.login-button {
    background-color: rgba(241, 146, 37, 0.93);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgba(241, 146, 37, 0.93);
    text-decoration: underline;
}


@media (max-width: 1100px) {
    .contacto {
        display: none;
    }
}

@media (max-width: 950px) {
    .torneos {
        display: none;
    }
}



@media (max-width: 800px) {
    .creditos {
        display: none;
    }
}

@media (max-width: 650px) {
    .inicio {
        display: none;
    }
}

.reservas {
    padding: 20px;
    
} 