.header{
    background-color: black;
    color: white;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
}

.logos {
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}

.logo2{
    width: 20px;
    height: auto;
}

.moneda {
    width: 35px;
    height: auto;
}

.saldo {
    font-size: 18px;
    color: white;
}

.nav1 {
    position: absolute;
    left: 50%; /* Posiciona el nav1 en el centro horizontal del header */
    transform: translateX(-50%); /* Centra horizontalmente el nav1 */
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav1 a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 20px;
}

.nav1 a:hover {
    background-color: rgba(241, 146, 37, 0.93);
    border-radius: 5px;
    text-decoration: underline;
}

.nav2 {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre la moneda y los enlaces de navegación */
    font-size: 20px;
}

.monedas {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre la moneda y el saldo */
}

.monedas .moneda {
    width: 60px;
    height: auto;
}

.nav2 a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 10px;
}

.nav2 a:hover {
    border-radius: 5px;
    text-decoration: underline;
}


.login-button {
    background-color: rgba(241, 146, 37, 0.93);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

.login-button:hover {
    background-color: rgba(241, 146, 37, 0.93);
    text-decoration: underline;
}


/* RESPONSIVE */

@media (max-width: 1200px) {
    .contacto {
        display: none;
    }
}

@media (max-width: 1000px) {
    .torneos {
        display: none;
    }
}

@media (max-width: 900px) {
    .creditos {
        display: none;
    }

    .nav2 {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        align-items: center;
        gap: 8px 15px;
    }

    .monedas {
        grid-column: 1; /* Ocupa toda la primera columna */
        grid-row: 1; /* Ocupa la primera fila */
    }

    .login-button {
        grid-column: 2; /* Ocupa la segunda columna */
        grid-row: 1; /* Ocupa la primera fila */
        justify-self: end;
    }

    .cerrar {
        grid-column: 2;
        grid-row: 2;
        justify-self: end;
    }
}


@media (max-width: 750px) {
    .inicio {
        display: none;
    }
}

.reservas {
    padding: 20px;
    
}   


.panel {
    width: 70%;
    margin: 30px auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    background: white;
}

.titulo-deporte {
    width: 70%;
    margin: 30px auto;
    text-align: left;
}

.estado {
    width: 70%;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    animation: fadeout 1s ease-in-out;
}

/* Animación para el contenido al abrir el panel */
@keyframes fadeout {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.panel-header {
    list-style: none;
    cursor: pointer;
    padding: 0;
}

summary::-webkit-details-marker {
    display: none;
}

.panel-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.header-info {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 18px;
    position: relative;
}

.header-info::after {
    content: "▼";
    margin-left: 15px;
    transition: transform 0.3s ease;
}

.panel[open] .header-info::after {
    transform: rotate(180deg);
}

.titulo {
    font-size: 24px;
    color: #333;
    margin-right: auto;
}

.precio {
    color: #e67e22;
}

.contenido {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);

    transition:
        max-height 0.5s ease,
        opacity 0.4s ease,
        transform 0.4s ease;

    padding: 0 20px;
}

.panel[open] .contenido {
    max-height: 600px;
    opacity: 1;
    transform: translateY(0);
    padding: 20px;
    animation: fadein 1s ease-in-out;
}

/* Animación para el contenido al abrir el panel */
@keyframes fadein {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.contenido {
    padding: 20px;
    background: #fafafa;
    text-decoration: none;
}

.precio {
    color: #e67e22;
    text-align: right;
    align-items: right;
}

.horario-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 15px;
    margin-top: 20px;
}

.slot {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.disponible {
    background-color: #d4edda;
    color: #155724;
    text-decoration: none;
}

.disponible:hover {
    background-color: #b7e4c7;
    transform: scale(1.05);
}

.ocupado {
    background-color: #f8d7da;
    color: #721c24;
    cursor: not-allowed;
}

.selector-fecha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 30px 0;
}

.fecha {
    font-size: 22px;
    font-weight: 600;
    background: white;
    padding: 12px 40px;
    border-radius: 30px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    letter-spacing: 1px;
}

.flecha {
    font-size: 32px;
    cursor: pointer;
    color: #e67e22;
    transition: all 0.3s ease;
}

.flecha:hover {
    transform: scale(1.25);
    color: #cf711f;
}