*{
    margin : 0;
    font-family: sans-serif;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('fondo.png') no-repeat;
    background-size: cover;
    background-position: center;
}



.caja1{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.caja1 h1{
    font-size: 36px;
    text-align: center;
}

.caja1 .box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.box input::placeholder{
    color: #fff;
    padding-left: 20px;
}

.box i{
    position: absolute;
    color: #000000;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
} 

.caja1 .recordar{
    display: flex;
    justify-content: center;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.recordar label input{
    accent-color: #fff;
    margin-right: 3%;
    align-items: center;
}

.recordar a{
    color: #fff;
    text-decoration: none;
}   

.recordar a:hover{
    text-decoration: underline;
} 

.caja1 .boton{
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 600;
}

.caja1 .registro{
    text-align: center;
    margin: 20px 0px 15px;
    font-size: 14.5px;
}

.registro p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.registro p a:hover{
    text-decoration: underline;
} 

.caja1 .google-boton{
    margin-top: 15px;
    width: 100%;
    height: 50px;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 800;
    color: #000;
}


.google-boton img {
    width: 40px;
    height: 40px;
    align-items: center;
}


  